<div class="background">
  <div class="container">
    <div class="login-box">
      <h2>Welcome to Event Management App</h2>
      <h4>Login</h4>
      <form (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            [(ngModel)]="username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            [(ngModel)]="password"
            required
          />
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
